.recommendedVideos {
  flex: 0.83;
  padding: 40px 10px;
  padding-bottom: 0;
}

.recommendedVideos > h2 {
  margin-left: 5px;
  margin-bottom: 20px;
}

.recommendedVideos__videos {
  display: flex;
  flex-wrap: wrap;
}
