.sidebar {
  flex: 0.17;
  padding-top: 10px;
  height: 90vh;
  overflow-y: auto;
  position: sticky;
  top: 55px;
  z-index: 9999999;
}

.sidebar > hr {
  height: 1px;
  margin: 10px 0;
  border: 0;
  background-color: rgba(218, 218, 218, 0.801);
}

.sidebar::-webkit-scrollbar-thumb {
  display: none;
  background: rgba(170, 170, 170, 0.51);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 8px;
}

.sidebar:hover::-webkit-scrollbar-thumb {
  display: block;
}
